// *************************************
//
// Header
// -> Main site header
//
// *************************************

.Header {
  background-image: url("../img/img-header-bg.jpg");
  background-position: center top;
  background-size: cover;
  position: relative;

}

.Header-text {
	position: absolute;
	background-color: rgba(255,255,255,0.7);
	width: auto;
	height: 60px;
	top: 115px;
	
	p {
		font-size: 27px;
		font-weight: 200;
		line-height: 8px;
		letter-spacing: 2px;
		padding: 0 20px;
	}
}


.page-title {
	background-color: $c-blue;
	border-top: 6px solid white;
	border-bottom: 6px solid white;
	
	h2 {
		text-align: center;
		color: white;
		font-size: 20px;
		line-height: 20px;
		font-weight: 400;
		letter-spacing: 1.7px;
		margin: 20px 0;
	}
}

.good-points-wrap {
	background-color: $c-darkgrey;
	color: white;
	height: 240px;
	
	.good-points {
		margin-top: 50px;
		margin-left: 300px;	

		h3 {
			font-size: 20px;
			font-weight: 300;
			letter-spacing: 1.5px;
			line-height: 5px;
		}
		
		.points-box {
			float: left;
			width: 300px;
			p {
				display: block;
				font-weight: 300;
				letter-spacing: 1.5px;
			}
			li {
				font-weight: 300;
				letter-spacing: 1.5px;
			}
		}
	}
}


// for the contact page header..
.contactTop-bg {
	background-color: $c-darkgrey;
	p {
		color: white !important;
		font-weight: 300;
	}
}


//======================================================
//          @media queries - Responsiveness
//======================================================

@media all and (max-width: 610px) {
	.page-title h2 {
		font-size: 16px;
	}

	.good-points-wrap {
		height: auto;
		.good-points {
			width: auto !important;
			h3 {
				text-align: center;
				margin-bottom: 35px;
			} 
			
			.points-box {
				float: none;
				display: block;
				margin: 0 auto;
				width: 265px;
			}
		} 
	}
}

@media all and (max-width: 650px) {
	.page-title h2 {
		font-size: 16px;
	}
}

@media all and (max-width: 400px) {
	.Header {
		display: none;
	}
	
	.page-title {
		margin-top: 0px !important;
		h2 {
			font-size: 15px;
		}
	}
	.good-points-wrap {	
		.good-points {
			h3 {
			text-align: left;
			font-size: 20px;
			margin-top: -20px;
			line-height: 30px;
			}
			.points-box {
				width: auto;
			}
		}
	}


}

//---- page specific adjustments ---
.page-id-4 {
	.pagetitle {
		display: none;
	}
}

.page-id-5 {
	.Content-entry {
		padding-top: 0px;
	}
}