// *************************************
//
// Sidebar
// -> The sidebar
//
// *************************************

.Sidebar {
	background-color: white;
	position: absolute;
	width: auto;
	height: auto;
	.Sidebar-items {
		margin-top: 40px;
		a {
			display: block;
			color: $c-darkgrey;
			padding: 8px 45px;
			font-size: 15px;
			letter-spacing: 1.2px;
			
			&:hover {
				color: $c-blue;
				text-decoration: none;
			}
		}

	}
}


@media all and (max-width: 980px) {
	.Sidebar {
		display: none;
	}
	.Header-text {
		display: none;
	}
	
	.good-points-wrap {
		.good-points {
		    display: block;
		    margin: 50px auto 0;
		    width: 600px;
		}
	}
	
	.coll-4 {
		display: none;
	}
	
	.coll-8 {
		@include span-columns(12);
	}
}